<h2>Height</h2>
<mat-slider #heightslider
  [min]="1" [max]="1000"
  [step]="1"
  [(ngModel)]="height">
</mat-slider>
<h2>Width</h2>
<mat-slider #widthslider
  [min]="1" [max]="1000"
  [step]="1"
  [(ngModel)]="width">
</mat-slider>
<h2>Setting</h2>
<span class="text-small">Rough</span>
<mat-slider #settingslider
  [min]="1" [max]="5"
  [step]="1"
  [tickInterval]="1"
  [(ngModel)]="setting">
</mat-slider>
<span class="text-small">Very Fine</span>
<br>
<button 
  mat-raised-button 
  color="primary"
  (click)="askForDrawing()">
  Grind
</button>
<p></p>
<div *ngIf="image">
  <img [src]="image">
</div>