    <div fxLayout="column" style="padding: 0.2em">
      <div fxFlex style="text-align: center">
        <mat-card-subtitle>Height</mat-card-subtitle>
        <mat-card-content>
          <mat-slider
            [min]="0" [max]="1000"
            [step]="1"
            [(ngModel)]="grindDrawService.grinderInputObject.height"
            [thumbLabel]="false">
          </mat-slider>

        </mat-card-content>
      </div>
      
      <mat-divider></mat-divider>

      <div fxFlex style="text-align: center">
        <mat-card-subtitle>Width</mat-card-subtitle>
        <mat-card-content>
          <mat-slider
            [min]="0" [max]="1000"
            [step]="1"
            [(ngModel)]="grindDrawService.grinderInputObject.width"
            [thumbLabel]="false">
          </mat-slider>
        </mat-card-content>
      </div>

      <mat-divider></mat-divider>

      <div fxFlex style="text-align: center">
        <mat-card-subtitle>Setting</mat-card-subtitle>
        <mat-card-content>
          <mat-slider
            [min]="1" [max]="5"
            [step]="1"
            [tickInterval]="1"
            [(ngModel)]="grindDrawService.grinderInputObject.setting">
          </mat-slider>

        </mat-card-content>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="row">
      <button
        fxFlex
        mat-button
        (click)="clickedClose()">
        <mat-icon>keyboard_return</mat-icon>
      </button>

      <mat-divider [vertical]="true"></mat-divider>
    
      <button
        fxFlex
        mat-button
        (click)="clickedGrind()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    
    <mat-divider></mat-divider>

    


  
