<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    
    <button mat-icon-button (click)="sidenavService.nav.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>

    <a class="app-name" mat-button (click)="landing()">DataGrinder</a>
    
  </mat-toolbar>

  <mat-sidenav-container 
    hasBackdrop="false"
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
                         
    <mat-sidenav 
      #lsnav 
      mode="side"
      [fixedInViewport]="mobileQuery.matches" 
      fixedTopGap="56">
      <router-outlet name="nav"></router-outlet>
    </mat-sidenav>

    <mat-sidenav 
      #rsnav 
      position="end"
      mode="side"
      [fixedInViewport]="mobileQuery.matches" 
      fixedTopGap="56">
      <router-outlet name="activity"></router-outlet>

    </mat-sidenav>

    <mat-sidenav-content style="padding: 0.8em;" >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>

  <app-mobile-detector
    [mobileMatches]="mobileQuery.matches">
  </app-mobile-detector>
  
</div>