.grind-gear {
    font-size: 2em;

}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
img.center {
display: block;
    margin-left: auto;
    margin-right: auto;
}