/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/theming';

@include mat-core();

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$primary: mat-palette($mat-grey);
$accent: mat-palette($mat-light-blue);
$warn: mat-palette($mat-deep-orange);


// create theme (use mat-dark-theme for themes with dark backgrounds)
$theme: mat-dark-theme(
    $primary,
    $accent,
    $warn
);

@include angular-material-theme($theme);


@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(191, 191, 191);
    background-color: #252525;
}
